@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

.container-grid{
	display: grid;
	height: 100vh;
	grid-template-columns: repeat(7,1fr);
	grid-template-rows: repeat(1,1fr);
	grid-template-areas: 
		"img1 img2 img3 img4 img5 img6 img7";
		gap:  3px;

}
.img{
	border: solid;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img-1{
	grid-area:img1;
}
.img-2{
	grid-area:img2;
}
.img-3{
	grid-area:img3;
}
.img-4{
	grid-area:img4;
}
.img-5{
	grid-area:img5;
}
.img-6{
	grid-area:img6;
}
.img-7{
	grid-area:img7;
}

.img:hover{
	cursor: pointer;
	filter:invert(90%);
	transition: .7s;
}
.container-img{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(-100%);
	transition: transform .4s ease-in;
}
.move{
	transform: translateX(0);
}
.img-show{
	height: 80%;
	display: block;
	object-fit: cover;
	transform: scale(0);
	transition: transform .2s .4s;
}
.show{
	transform: scale(1);
	
}
.copy{
	position: fixed;
	bottom: 30px;
	color: white;
}
.bx.bx-x{
	position: absolute;
	top: 20px;
	right: 10px;
	color: white;
	font-size: 30px;
	cursor: pointer;
}
/*.slider{
background-image: url("../galeria-imagenes/img/galeria/dibujos/img273.jpg");
background-size: 100% 100%;
position: absolute;
translate: (-50%, -50%);
animation: slide 10s infinite linear;

}
@keyframes slide{
15% {background-image: url("../galeria-imagenes/img/galeria/dibujos/img097.jpg");}
30% {background-image: url("../galeria-imagenes/img/galeria/dibujos/img025.jpg");}
45% {background-image: url("../galeria-imagenes/img/galeria/dibujos/img098.jpg");}
60% {background-image: url("../galeria-imagenes/img/galeria/dibujos/imagen1.png");}
75% {background-image: url("../galeria-imagenes/img/galeria/dibujos/imagen2.png");}
90% {background-image: url("../galeria-imagenes/img/galeria/dibujos/imagen3.png");}
}*/